@page "/reservation"

@inject NavigationManager NavigationManager;
@inject DialogService dialogService;
@inject IGroupServices groupServices;
@inject IUserServices userServices;
@inject IReservationServices reservationServices;

@using inzLessons.Shared.Users;
@using inzLessons.Client.Services;
@using inzLessons.Shared.Group;
@using inzLessons.Shared.Reservation;

<div class="row">
    <div class="col-xl-6">
        <RadzenScheduler @ref=@scheduler style="height: 768px;" TItem="Appointment" Data=@appointments StartProperty="Start" EndProperty="End"
                         TextProperty="Description" SelectedIndex="1"
                         SlotSelect=@OnSlotSelect AppointmentSelect=@OnAppointmentSelect AppointmentRender=@OnAppointmentRender>
            <RadzenDayView />
            <RadzenWeekView />
            <RadzenMonthView />
        </RadzenScheduler>
    </div>
    <div class="col-xl-6">
        <RadzenDataGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="10"
                        AllowSorting="true" Data="@groupList" TItem="LessonsGroupDTO" ColumnWidth="200px"
                        SelectionMode="DataGridSelectionMode.Single" @bind-Value=@selectedGroupList RowClick="(item)=> { OnGroupChange(item); }" Style="margin-top:20px">
            <Columns>
                <RadzenDataGridColumn TItem="LessonsGroupDTO" Property="Name" Title="Nazwa grupy" />
                <RadzenDataGridColumn TItem="LessonsGroupDTO" Property="Description" Title="Opis" />
            </Columns>
        </RadzenDataGrid>

        <RadzenDataGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="10"
                        AllowSorting="true" Data="@userInGroupList" TItem="UserDTO" ColumnWidth="200px"
                        SelectionMode="DataGridSelectionMode.Single" @bind-Value=@selectedUserList
                        RowClick="(item)=> { OnUserChange(item.Data); }">
            <Columns>
                <RadzenDataGridColumn TItem="UserDTO" Property="DisplayFullName" Title="Uczeń" />
            </Columns>
        </RadzenDataGrid>

        <div class="col" style="margin-top:30px;">
            <div class="row">
                <div class="col-lg-6">
                    Godzina:
                </div>
                @if (selectedAppointment != null && selectedAppointment.Start != DateTime.MinValue && selectedAppointment.End != DateTime.MinValue)
                {
                    <div class="col-lg-6">
                        @selectedAppointment.Start.ToShortDateString() : @selectedAppointment.Start.ToShortTimeString() - @selectedAppointment.End.ToShortTimeString()
                    </div>
                }
            </div>
            <div class="row" style="margin-top:15px">
                <RadzenButton Text="Dodaj" Click="AddAppointment" />
            </div>
            @if (WrongDateError)
            {
                <div class="row alert alert-danger" role="alert" style="margin-top:15px;">
                    @ErrorMessage
                </div>
            }
        </div>
    </div>
</div>
@code {

}
