@page "/teacher"

@inject IReservationServices reservationServices
@inject IMessageServices messageServices
@inject ILocalStorageService localStorage
@inject IJSRuntime jsRuntime
@inject IBlazorDownloadFileService BlazorDownloadFileService

@using BlazorDownloadFile;
@using Blazored.LocalStorage
@using inzLessons.Client.Services;
@using inzLessons.Shared.Reservation;

<RadzenDataGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="10"
                AllowSorting="true" Data="@reservationToDisplay" TItem="DisplayReservationDTO" ColumnWidth="300px"
                SelectionMode="DataGridSelectionMode.Single" @bind-Value=@selectedReservation AllowColumnReorder="true" AllowColumnResize="true">
    <Columns>
        <RadzenDataGridColumn Width="100px" TItem="DisplayReservationDTO" Property="Day" Title="Dzień" />
        <RadzenDataGridColumn Width="100px" TItem="DisplayReservationDTO" Property="StartTime" Title="Początek" />
        <RadzenDataGridColumn Width="100px" TItem="DisplayReservationDTO" Property="EndTime" Title="Koniec" />
        <RadzenDataGridColumn TItem="DisplayReservationDTO" Property="Student" Title="Student" />
        <RadzenDataGridColumn TItem="DisplayReservationDTO" Property="IsOnline" Title="Online" />
        <RadzenDataGridColumn TItem="DisplayReservationDTO" Property="Description" Title="Opis" />
    </Columns>
</RadzenDataGrid>

<div class="containerMessage">
    @if (messageList != null && messageList.Count() > 0)
    {
        foreach (var item in messageList)
        {

            @if (item.UserId != UserId)
            {
                <div class="message-blue">
                    <p class="message-content" style="float: left;margin-left: 10px">
                        @item.Text
                    </p>
                    @if (item.File != null)
                    {
                        <RadzenButton Icon="file_download" ButtonStyle="ButtonStyle.Light" Style="margin-left: 10px; background-color: #A8DDFD;" Click="(()=> DownloadFile(item.File, item.FileName))" />
                    }
                    <div class="message-timestamp-left">@item.SenderUser</div>
                </div>
            }
            else
            {
                <div class="message-orange">
                    <div class="row">
                        <span>
                            @if (item.File != null)
                            {
                                <RadzenButton Icon="file_download" ButtonStyle="ButtonStyle.Light" Style="margin-left: 10px; background-color: #f8e896;" Click="(()=> DownloadFile(item.File, item.FileName))" />
                            }
                            <p class="message-content" style="float:right;margin-left:10px">
                                @item.Text
                            </p>
                        </span>
                    </div>
                    <div class="message-timestamp-right">@item.SenderUser</div>
                </div>
            }
        }
    }
</div>

@if (_selectedReservation != null && _selectedReservation.Count() > 0)
{
    <div class="row">
        <div class="col" style="margin-top:50px">
            <div class="row">
                <div class="col-6">
                    <RadzenTextArea Placeholder="Wiadomość..." @bind-Value="Text" Style="width:300px" @onkeyup="()=> { StateHasChanged(); }" />
                </div>
            </div>
            <div class="row" style="margin-top: 20px">
                <RadzenButton Click="SendMessage" Text="Wyślij" />
            </div>
        </div>
        <div class="col" style="margin-top:50px">
            Dodaj załącznik:
            <InputFile OnChange="OnInputFileChange" />
            <div class="row" style="margin-top: 20px">
                <RadzenButton Click="SendMessageFile" Text="Wyślij" />
            </div>
        </div>
    </div>
}

@code {

}
